<launch>

    <!-- Select your robots, update names, and initial positions relative to world coordinate frame -->
    <!-- Comment the unnecessary robots -->
    <group ns="qbot0">
		<group ns="map_merge">
			<param name="init_pose_x" value="0.0" />
			<param name="init_pose_y" value="0.0" />
			<param name="init_pose_z" value="0.0" />
			<param name="init_pose_yaw" value="0.0" />
		</group>
    </group>

    <group ns="qbot1">
        <group ns="map_merge">
            <param name="init_pose_x" value=".0" />
			<param name="init_pose_y" value="1.0" />
			<param name="init_pose_z" value="0.0" />
			<param name="init_pose_yaw" value="0.0" />
        </group>
    </group>

    <group ns="qbot2">
        <group ns="map_merge">
            <param name="init_pose_x" value=".0" />
			<param name="init_pose_y" value="1.0" />
			<param name="init_pose_z" value="0.0" />
			<param name="init_pose_yaw" value="0.0" />
        </group>
    </group>

    <!-- Map merging Node -->
    <include file="$(find multirobot_map_merge)/launch/map_merge.launch"/>

</launch>
